@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Ubuntu:wght@400;700&display=swap');

* {
  margin: 0;
}

body {
  font-family: Ubuntu, sans-serif;
  background-color: whitesmoke;
}

.flash {
  border-bottom: 1px solid black;
  text-align: center;
  font-weight: 600;
}

.devise-page {
  margin: 20% 2%;
  padding: 1%;
  border: 2px solid black;
  border-radius: 5px;
  background-image: linear-gradient(to bottom, rgba(255, 87, 87, 0.744), rgb(241, 32, 32) );
  h2 { 
    font-family: Ubuntu, sans-serif;
    text-align: center;
    font-weight: 600;
  }
  .actions {
    display: flex;
    justify-content: center;
    a {
      color: white;
      padding-left: 2em;
    }
    input {
      margin: 0px 1%;
    }
  }
}

.top-bar {
  background-color: white;
  height: auto;
  border-bottom: 2px solid black;
  h2 {
    align-self: center;
  }
}

.top-bar-logo {
  display: block;
  max-height: 10vh;
  margin-top: 5px;
  margin-bottom: 5px;
}

ul.user-accounts {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  list-style-type: none;
  background-color: white;
  margin: auto;
  text-align: center;
  a {
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 1rem;
    margin: 5px;
    padding: 2px 4px 2px;
    text-shadow: 1px 1px 1.5px rgb(250, 0, 0);
  }
  a:hover {
    box-shadow: 2px 2px 2px 0.5px #a4a4a4;
    color: rgb(206, 27, 27);
    font-family: Ubuntu, sans-serif;
    text-shadow: 0.5px 0.5px 0.5px rgb(135, 0, 0);
  }
}

.links {
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 5px;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: 2px solid black;
  background-image: linear-gradient(to bottom, rgba(255, 87, 87, 0.744), rgb(241, 32, 32) );
  width: 100%;
  a {
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 1rem;
    margin: 5px;
    padding: 3px 8px 4px;
    text-shadow: 1px 1px 1.5px rgb(250, 0, 0);
  } a:hover {
    box-shadow: 1px 1px 2px 0.5px #000000;
    color: rgb(206, 27, 27);
    font-family: Ubuntu, sans-serif;
    text-shadow: 0.5px 0.5px 0.5px rgb(135, 0, 0);
  }
}

.header {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  text-shadow: 1.5px 1.5px 1.5px rgb(225, 0, 0);
  justify-content: center;
}

.playlist-search-bar {
  width: 60%;
  border: 1px;
  margin-bottom: -1%;
}

.playlist-form-container {
  display: flex;
  flex-direction: column;
  h1 {
    align-self: center;
  }
}

.new-playlist-form {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  margin: 5px 3rem 3rem;
  padding: 1rem;
  border: 4px solid rgb(135, 0, 0);
  border-radius: 5px;
  h5 {
    font-style: italic;
    font-weight: 700;
  }
  .create-playlist {
    height: 4rem;
    font-size: larger;
    font-weight: bold;
    background-color: rgb(151, 0, 0);
    color: white;
    text-shadow: 1px 1px 1px black;
  }
  .create-playlist:hover {
    box-shadow: 2px 1px 1px 0.5px #a4a4a4;
    color: rgb(0, 0, 0);
    font-family: Ubuntu, sans-serif;
    text-shadow: 0.5px 0.5px 0.5px rgba(46, 46, 46, 0.389);
  }
}

.home-page {
  margin: auto;
  text-align: center;
  .links {
    justify-content: center;
    margin-bottom: 0;
  }
  h3 {
    font-style: italic;
    margin: 0px 5px;
  }
  h4 {
    padding: 8px 0px 5px 0px;
    border-bottom: 1px solid black;
  }
  ul {
    margin: 0px 3px;
  }
  li {
    list-style: inside;
    list-style-type: disc;
  }
  .done {
    color: green;
    font-weight: 600;
  }
  .about-section {
    border-bottom: 2px solid black;
    // background-color: #160b0b3e;
    background-image: linear-gradient(to left, rgb(99, 99, 99), rgba(0, 0, 0, 0.301) );
    margin-bottom: 1%;
    p {
      color: azure;
      font-weight: bold;
      font-style: italic;
    }
    p:hover {
      text-shadow: 2px 2px 2px rgba(46, 46, 46, 0.389);
    }
    .slogan {
      font-style: italic;
      font-family: Roboto, sans-serif;
      color: black;
    }
  }
}

.playlists-index {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: auto;
  align-items: center;
  background-color: whitesmoke;
}

.playlist-tile {
  background-color: rgb(241, 238, 238);
  border: 1.5px solid rgba(0, 0, 0, 0.408);
  border-radius: 5px;
  width: 80%;
  margin: 3px 0px;
  padding: 0px 1%;
  h3 {
    font-weight: 400;
    color: rgb(225, 0, 0);
    font-family: Roboto, sans-serif;
    text-shadow: 0.5px 0.5px 2px rgb(54, 54, 54);
  }
  p {
    font-family: Ubuntu, sans-serif;
    color: rgb(38, 38, 38);
    text-shadow: 0.5px 0.5px 1px rgb(142, 0, 0);
  }
}

div.playlist-tile:hover {
  background-image: linear-gradient(to top left, rgba(255,0,0,0), rgb(249, 249, 249) );
  font-weight: bold; 
  box-shadow: 2px 2px 2px #a4a4a4;
  h4 {
    color: rgb(187, 5, 5);
    font-weight: 800;
  }
}

.playlist-show-container {
  margin: 0px, 5px, 5px, 5px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  .track-tile{
    justify-content: center;
    align-self: center;
  }
  .header {
    display: flex;
    justify-content: center;
    margin-top: 1%;
  }
}

.playlist-information {
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .submission-information {
    display: flex;
    flex-direction: row;
    // width: max-content;
    color: gray;
  }
  h5 {
    text-align: center;
  }
  p {
    padding: 0px 2%;
    margin: 0;
  }
}

.tracks-container {
  margin: 5px 0px;
  display: flex;
  justify-content: stretch;
  flex-direction: column;
}

.track-tile {
  display: flex;
  justify-content: stretch;
  margin: auto;
  p {
    border-bottom: 1px solid rgb(155, 0, 0);
    margin: 0;
  }
}

.search-result-tile {
  display: flex;
  justify-content: stretch;
  align-self: center;
  margin: auto;
  p {
    border-bottom: 1px solid rgb(165, 0, 154);
    margin: 0;
  }
}

.edit-sections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: gainsboro;
  border: 2px solid grey;
  border-radius: 5px;
  margin: 2%;
  padding: 1%;
  h3 {
    align-self: center;
  }
}