@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Ubuntu:wght@400;700&display=swap');

* {
  margin: 0;
}

body {
  font-family: Ubuntu, sans-serif;
  background-color: whitesmoke;
}


.home-page {
  margin: auto;
  text-align: center;
  .links {
    justify-content: center;
  }
}

.top-bar {
  background-color: white;
  height: auto;
  border-bottom: 2px solid black;
}

.top-bar-logo {
  display: block;
  max-height: 10vh;
  margin-top: 5px;
  margin-bottom: 5px;
}

ul.user-accounts {
  list-style-type: none;
  background-color: white;
  margin: auto;
  text-align: center;
}